body{
   background-color: #e6e6e6;
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-areas: "logo nav nav profile";*/
    background-color: none;
    color: black;
    padding: 10px;
    border-bottom: 1px solid blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}


.logo{
    display: flex;
    width: 100px;
    border: solid blue 1px;

}
nav{
    display:flex;
    
}
.nav-links {
    display: flex; /* Initially hide the navigation links */
    gap: 20%;
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

.profile{
    margin-left: 80%;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: solid blue 1px;
    margin-left: auto;
}
